%li
  = link_to notification.comment.created_by.name, user_url(notification.comment.created_by)
  commented on the status
  = link_to notification.comment.commentable.description, status_post_url(notification.comment.commentable)