<%= render 'people/search' %>

<h1>Find a person</h1>

<% unless people.blank?  %>

    <p>
      We found <%= pluralize(people.length, 'person') %>:
    </p>
    <ul>

    <% for person in people %>

        <li><%= link_to person.name, person_url(person) %></li>

    <% end %>

    </ul>

<% else %>
    <% unless searchterm.blank? %>

    <p>
      Sorry, we didn't find anybody named '<%= searchterm %>'…
    </p>

    <% else %>

    <p>
      Please enter a name in the search field…
    </p>

    <% end %>
<% end %>