.island

  %h1 Find a person

  - unless people.blank?
    %p We found #{pluralize(people.length, 'person')}:
    %ul
      - for person in people
        %li= link_to person.name, person_url(person)
  - else
    %p.no-results
      - unless searchterm.blank?
        Sorry, we didn't find anybody named #{searchterm}…
      - else
        Please enter a name in the search field…
