%ul.side-nav.registration{ class: side_nav ||= nil }
  %li.profile
    %a{ href: edit_user_registration_path }
      %span.icon.small.messages
      Profile
  %li.privacy
    %a
      %span.icon.small.photos
      Privacy
  %li.password
    %a{ href: user_password_path }
      %span.icon.small.photos
      Password
