-#%li
-#  = link_to notification.like.created_by.name, user_url(notification.like.created_by)
-#  likes your message
-#  = link_to notification.like.commentable.description, status_post_url(notification.like.commentable)

-#= notification.like.likable