.island

  - unless notifications.size == 0
    %ul.top-controls.menu
      %li= link_to "Delete all notifications", destroy_notification_path, class: :uiButton, method: :delete


  %h1.border_bottom Your Notifications

  - unless notifications.size == 0

    - unless unread_notifications == 0
      %p
        You have
        =unread_notifications
        unread notifications.

    %ul.notifications
      - for notify in notifications do
        - if notify.read_status == true
          %li= render partial: "notifications/" + notify.class.to_s.underscore, locals: {notification: notify}
        - else
          %li.unread= render partial: "notifications/" + notify.class.to_s.underscore, locals: {notification: notify}
  - else
    %p You don't have any notifications to read.
