.island

  %h1.border_bottom Your Notifications


  - unless unread_notifications == 0
    %ul.notifications
      - for notify in notifications do
        %li= render partial: notify, locals: {notification: notify}
  - else
    %p You don't have any notifications to read.
