%aside#side-content
  = render partial: "users/sidebar", locals: { user: current_user }

#main-content
  .island

    = render partial: "status_posts/new", locals: { receiver: current_user }
    = render partial: posts, as: :post