.person-sidebar

  =user_picture user, :sidebar


  %ul.side-nav{ class: side_nav ||= nil }
    %li.wall
      %a{ href: user_url(user) }
        %span.icon.small.messages
        Wall
    - if can? :view_albums, user
      %li.albums
        %a{ href: albums_url(user) }
          %span.icon.small.photos
          Albums


  - if can? :view_friends, user

    %p
      = link_to "Friends (#{user.friends.count})", ""

    %ul.user-friends
      - user.friends.each do |friend|
        %li
          = user_picture friend, :medium
          = link_to_author friend

  %ul.user-options
