.island

  %h1 Find a person

  - unless users.blank?
    %p We found #{pluralize(users.length, 'user')}:
    %ul
      - for user in users
        %li= link_to user.name, user_url(user)
  - else
    %p.no-results
      - unless searchterm.blank?
        Sorry, we didn't find anybody named #{searchterm}…
      - else
        Please enter a name in the search field…
