- if model.errors.any?
  -#%ul.validation_errors.message.error
  -#  - model.errors.full_messages.each do |message|
  -#    %li= message

  %div.alert-message.danger.fade.in{ 'data-alert' => "alert" }
    %a.close{ href: "#" }
      x
    %ol
      - model.errors.full_messages.each do |message|
        %li= message