= form_for (@status_post ||= StatusPost.new), url: create_status_post_url do |form|

  = render partial: "layouts/common/validation_errors", locals: { model: @status_post }

  = form.text_field :description
  -#= hidden_field_tag :receiver_id, receiver.id
  = form.submit "Add Status update", class: [:uiButton, :uiButtonConfirm]
%br