/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/


/* Main layout */


#header {
  background: #3B5998;
  border-bottom: 1px solid #133783;
  color: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 37px;

  .side {
    width: 180px;
    height: 37px;
    float: left;
  }
  .main {
    width: 820px;
    height: 37px;
    float: right;
  }

  #logo {
    padding: 6px 6px 7px;
    margin: 5px 5px 0 -6px;
    display: block;
    float: left;

    img {
      display: block;
      height: 19px;
      width: 92px;
    }

    &:hover {
      background: #4b67a1;
    }
  }

  #user-menu {
    float: right;

    ul {
      li {
        a {
          padding: 0 10px;
          font-size: 9pt;

          &:hover {
            color: #fff;
            background: #4b67a1;
            text-decoration: none;
          }

          &.user {
            font-weight: bold;
            color: #fff;
          }
        }
      }
    }
  }

  #notification-center {
    li .icon {
      margin: 8px 4px;
    }
  }

  ul.menu {
    margin-top: 5px;

    li {
      display: block;
      height: 32px;
      line-height: 32px;
      float: left;
      position: relative;

      a {
        dislay: block;
        height: inherit;
        color: #d8dfea;

        &:hover {
          color: #fff;
          background: #4b67a1;
          text-decoration: none;
        }
      }
    }
  }

}

#content {
  padding-top: 37px;
  overflow: auto;

  #side-content {
    float: left;
    width: 180px;
    margin-top: 27px;
  }
  #main-content {
    float: left;
    width: 639px;
    border-left: 1px solid #ccc;
  }
  #full-content {
  }
}

#footer .container {
  margin: 20px auto;
  padding: 10px 0 0;
  border-top: 1px solid #ccc;
  font-size: 8pt;
  color: #888;
}




/* Common classes */


.container {
  width: 1000px;
  margin: 0 auto;
}

.menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin: 0;
    padding: 0;
    float:left;

    a {
      display: inline-block;
    }
  }

  &.dotted {
    li + li:before {
      content: "·";
      margin: 0 3px;
      color: #888;
      font-weight: bold;
    }
  }
}

.no-results {
  padding: 10px 0;
  font-style: italic;
  font-size: 10pt;
  color: #555;
}


ul.side-nav {
  margin: 0 0 10px;
  padding: 10px 0;
  border: solid #ddd;
  border-width: 0 0 1px 0;

  li {
    margin: 1px 0 0;
    padding: 0;

    a {
      padding: 3px;
      display: block;
      color: #333;

      &:hover {
        background: #eff2f7;
        text-decoration: none;
      }

      .icon {
        margin-right: 4px;
      }
    }
  }

  &.wall .wall a,
  &.albums .albums a,
  &.registration.profile .profile a,
  &.registration.privacy .privacy a,
  &.registration.password .password a {
    background: #D8DFEA;
    font-weight: bold;
  }

}

.uiButton,
.uiButtonSuppressed:active,
.uiButtonSuppressed:focus,
.uiButtonSuppressed:hover {
  background-image: url(fb_sprite_1.png);
  background-repeat: no-repeat;
  background-position: 0 -49px;
  background-color: #eee;
  border: 1px solid #999;
  border-bottom-color: #888;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  color: #1C2A47;
}
.uiButtonLarge {
  line-height: 16px;
  padding: 3px 16px;
}
.uiButton + .uiButton {
  margin-left: 4px
}
.uiButton:hover{text-decoration:none}
.uiButton:active,.uiButtonDepressed{background:#ddd;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .img{margin-top:2px;vertical-align:middle}
.uiButtonLarge .img{margin-top:4px}
.uiButton .customimg{margin-top:0}
.uiButton .uiButtonText,.uiButton input{background:none;border:0;color:#333;cursor:pointer;display:inline-block;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size: 11px;font-weight:bold;margin:0;outline:none;padding:1px 0 2px;white-space:nowrap}
.uiButtonOverlay,.uiButtonOverlay:hover{-webkit-background-clip:padding-box;background-color:#fff;background-color:rgba(255, 255, 255, .8);background-image:none;border-color:#a5a5a5;border-color:rgba(0, 0, 0, .35);-webkit-border-radius:2px}
.uiButtonOverlay:focus,.uiButtonOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:#3b5998;border-color:rgba(59, 89, 152, .5)}
.uiButtonConfirm{background-image:url(fb_sprite_1.png);background-repeat:no-repeat;background-position:0 -98px;background-color:#5b74a8;border-color:#29447e #29447e #1a356e; color:#fff}
.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}

.uiLink {
  border: 0;
  background: none;
  display: inline;
  padding: 0;
  margin: 0;
}


.uiTextInputWrapper {
  overflow: auto;
  background: #fff;
  border: 1px solid #b7becd;
  padding: 0;

  .input {
    position: relative;
    overflow: auto;
    padding: 3px;


    textarea {
      display: block;
      padding: 0;
      background: none;
      outline: none;
      border: none;
      width: 100%;
      resize: none;
      height: 26px;
      min-height: 13px;
      line-height: 13px;
      font-size: 11px;
    }

    &.with-label {
      padding-left: 70px;

      & > label {
        position: absolute;
        width: 55px;
        left: 0;
        top: 0;
        padding: 3px 5px;
        border-right: 1px dashed #ddd;
        text-align: right;
        color: #777;
      }
    }
  }
  .input + .input {
    border-top: 1px dashed #ddd;
  }

  .input.large textarea {
    height: 28px;
    min-height: 14px;
    line-height: 14px;
    font-size: 12px;
  }

  .controls.large {
    height: 28px;
    ul.menu li {
      line-height: 28px;
    }
  }

  .controls {
    background: #f5f5f5;
    padding: 1px;
    border-top: 1px solid #ddd;
    overflow: auto;
    height: 23px;

    input[type=submit] {
      float: right;
      display: block;
      min-width: 100px;
    }
    ul.menu {
      display: block;
      float: left;
      height: inherit;
      margin: -1px;
      padding: 0;

      li {
        height: inherit;
        display: block;
        float: left;
        padding: 1px 8px;
        margin: 0;
        border-right: 1px solid #ddd;
        cursor: pointer;
        color: #999;
        line-height: 23px;

        .icon.small {
          margin-top: 3px;
        }

        &:hover {
          background: #f6f6f6;
        }

        &.active,
        &.active:hover {
          background: #fafafa;
        }
      }
    }
  }
}

.uiTextInputWrapper .input.tag_users {
  padding-top: 2px;
  padding-bottom: 2px;
}


ul.validation_errors {
  margin: 5px 0;
}


.top-controls {
  float: right;
  margin-top: 10px;

  li {
    margin-left: 10px;
  }
}


.gray-area {
  border-top: 1px solid #B3B3B3;
  background: #F2F2F2;
  margin: 0 0 10px;
  overflow: auto;

  .validation_errors {
    margin: 0 0 12px;
    position: relative;
  }

  & > form {
    margin: 12px;
    padding: 4px 0 0;
    overflow: auto;

    & > .label,
    & > .field {
      line-height: 22px;
      vertical-align: middle;
    }

    & > .label {
      display: block;
      padding: 5px 0;
      float: left;
      clear: both;
      width: 25%;
      text-align: right;
      color: #666;
      font-weight: bold;
    }
    & > .field {
      float: left;
      width: 70%;
      padding-left: 16px;

      .text-input {
        background: #fff;
        border: 1px solid #BDC7D8;
      }
      .delete {
        float: right;
        color: #666;

        p {
          margin: 3px 0 0;
        }
      }
    }

    hr {
      display: block;
      clear: both;
      padding: 12px 0 0;
      margin: 0 0 12px;
      height: 1px;
      overflow: hidden;
      border: none;
      border-bottom: 1px solid #d9d9d9;
      background: none;
    }
  }
}

span.badge {
  position: absolute;
  z-index: 101;
  display: block;
  top: 0;
  right: 0;
  padding: 0 6px;
  color: #fff;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  border-radius: 2px;
  white-space: no-wrap;
  text-align: center;
  border: solid 1px #d83722;
  border-bottom: solid 1px #c0311e;
  border-top: solid 1px #e23923;
  background: #F03D25;
  -webkit-box-shadow: 0 1px 0 rgba(0, 39, 121, .77);
  padding: 0 1px;
}

.fatal-error {
  padding: 150px 50px;
  * {
    text-align: center;
  }
}
