/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/


/* Main layout */


#header {
  background: #3B5998;
  border-bottom: 1px solid #133783;
  color: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 37px;

  #logo {
    margin: 5px 0 0;
    padding: 6px 0;
    display: block;
    float: left;

    img {
      display: block;
      height: 19px;
      width: 92px;
    }

    &:hover {
      background: #4b67a1;
      padding: 6px 6px 7px;
      margin: 5px -6px 0;
    }
  }

  #user-menu {
    float: right;
    margin-top: 5px;

    ul {
      li {
        a {
          color: #d8dfea;
          padding: 7px 10px;
          font-size: 9pt;

          &:hover {
            color: #fff;
            background: #4b67a1;
            text-decoration: none;
          }

          &.user {
            font-weight: bold;
            color: #fff;
          }
        }
      }
    }
  }

}

#content {
  padding-top: 37px;
  overflow: auto;

  #side-content {
    float: left;
    width: 180px;
    margin-top: 27px;
  }
  #main-content {
    float: left;
    width: 639px;
    min-height: 300px;
    padding-top: 5px;
    border-left: 1px solid #ccc;
  }
}

#footer .container {
  margin: 20px auto;
  padding: 10px 0 0;
  border-top: 1px solid #ccc;
  font-size: 8pt;
  color: #888;
}


/* Common classes */


.container {
  width: 1000px;
  margin: 0 auto;
}

.menu {
  display: block;
  list-style: none;

  li {
    display: block;
    float:left;

    a {
      display: inline-block;
    }
  }
}

.no-results {
  padding: 10px 0;
  font-style: italic;
  font-size: 10pt;
  color: #555;
}



.uiButton,
.uiButtonSuppressed:active,
.uiButtonSuppressed:focus,
.uiButtonSuppressed:hover {
  background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yA/r/N8T_oGDfkMw.png);
  background-repeat: no-repeat;
  background-position: 0 -49px;
  background-color: #eee;
  border: 1px solid #999;
  border-bottom-color: #888;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  color: #1C2A47;
}
.uiButtonLarge {
  line-height: 16px;
}
.uiButton + .uiButton {
  margin-left: 4px
}
.uiButton:hover{text-decoration:none}
.uiButton:active,.uiButtonDepressed{background:#ddd;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .img{margin-top:2px;vertical-align:middle}
.uiButtonLarge .img{margin-top:4px}
.uiButton .customimg{margin-top:0}
.uiButton .uiButtonText,.uiButton input{background:none;border:0;color:#333;cursor:pointer;display:inline-block;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size: 11px;font-weight:bold;margin:0;outline:none;padding:1px 0 2px;white-space:nowrap}
.uiButtonOverlay,.uiButtonOverlay:hover{-webkit-background-clip:padding-box;background-color:#fff;background-color:rgba(255, 255, 255, .8);background-image:none;border-color:#a5a5a5;border-color:rgba(0, 0, 0, .35);-webkit-border-radius:2px}
.uiButtonOverlay:focus,.uiButtonOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:#3b5998;border-color:rgba(59, 89, 152, .5)}
.uiButtonConfirm{background-image:url(fb_sprite_1.png);background-repeat:no-repeat;background-position:0 -98px;background-color:#5b74a8;border-color:#29447e #29447e #1a356e; color:#fff}
.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}

.uiLink {
  border: 0;
  background: none;
  display: inline;
  padding: 0;
  margin: 0;
}


.uiTextInputWrapper {
  overflow: auto;
  background: #fff;
  border: 1px solid #BDC7D8;

  input[type=text],
  input[type=submit] {
    margin: 2px 0;
    display: block;
    height: 19px;
  }

  input[type=text] {
    margin: 2px 0 2px 4px;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    height: auto;
    min-height: 19px;
    line-height: 19px;
    float: left;
  }

  input[type=submit] {
    margin-right: 2px;
    float: right;
  }
}

ul.validation_errors {
  margin: 5px 0;
}



.friendship-controls {
  float: right;
  margin-top: 4px;
}