h1.border_bottom {
  padding-bottom: 5px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

ul.notifications {
  list-style-type: disc;
  padding: 2px 0 0 2px;
}

ul.notifcations li {
  margin: 5px;
}