#header .people-search {
  float: left;
  margin: 8px 0 0 40px;
  position: relative;

  .search-input {
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    height: 21px;
    width: 250px;
    background: #fff;
    border: 1px solid #27528b;
  }
  input[type=submit] {
    right: 2px;
    top: 1px;
    position: absolute;
  }

}

.person-link.author {
  font-weight: bold;
}