#header .people-search {
  float: left;
  margin: 9px 0 0 40px;

  .search-input {
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    height: 20px;
    background: #fff;
    border: 1px solid #27528b;
  }

}