.post {
  padding: 12px 0 12px 60px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #E9E9E9;
  position: relative;
  min-height: 54px;

  & + & {
    border-top: 0;
  }

  & > .user-picture {
    position: absolute;
    left: 0;
    top: 13px;
  }

  p {
    margin: 2px 0;
  }
  p.author {
    margin-top: 0px;

    .to {
      color: #999;
      font-size: 9px;
      padding: 0 3px;
    }
  }

  & > a.destroy {
    position: absolute;
    top: 11px;
    right: 3px;
    display: none;
  }
  &:hover > a.destroy {
    display: block;
  }
}

p.description {
  word-wrap: break-word;

  .with {
    color: #666;
    &:before {
      content: ' — ';
      padding: 0 2px;
      font-weight: bold;
    }
  }
}


/* REACTIONS */


ul.reactions-menu {
  margin: 2px 0 0px;
  color: #666;

  li {
    float: none;
    display: inline-block;

    form {
      display: inline-block;
      vertical-align: top;
    }
  }
  li + li:before {
    margin: 0;
    content: "·";
    font-weight: bold;
    color: #666;
  }
}

.reactions {
  width: 420px;

  & > *:first-child {
    margin-top: 6px;
  }
}
.reactions > .new_comment,
.reactions > .liking-users {
  background: #EDEFF4;
  border-bottom: 1px solid #D2D9E7;
  margin-bottom: 1px;
  padding: 5px 10px;
  color: #666;
}
.reactions > .liking-users > .icon.like {
  margin-left: 0;
}
.reactions .new_comment {
  display: block;
  display: none;
  vertical-align: top;
  position: relative;
  padding: 7px 7px 7px 52px;

  & > .user-picture {
    position: absolute;
    left: 10px;
    top: 7px;
  }
}


/* COMMENT */


.comment {
  background: #EDEFF4;
  border-bottom: 1px solid #D2D9E7;
  margin-bottom: 1px;
  padding: 5px 20px 5px 52px;
  position: relative;

  .description {
    word-wrap: break-word;
  }

  & > .user-picture {
    position: absolute;
    left: 10px;
    top: 7px;
  }

  & > a.destroy {
    display: none;
    position: absolute;
    right: 2px;
    top: 5px;
  }
  &:hover > a.destroy {
    display: block;
  }

  & > ul {
    margin: 2px 0 0;
    text-overflow: ellipsis;
    width: 100%;
    color: #666;

    li {
      float: none;
      display: inline;

      form {
        margin: 0;
        display: inline-block;
        vertical-align: top;
      }
    }

    li + li:before {
      margin: 0 0px;
      content: "·";
      color: #666;
      font-weight: bold;
    }
  }
}
