body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
}

h1 {
  color: #1C2A47;
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

a,
.uiLink {
  color: #3B5998;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

