#header .user-search {
  float: left;
  margin: 8px 0 0 0px;
  position: relative;

  .search-input {
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    height: 21px;
    width: 250px;
    background: #fff;
    border: 1px solid #27528b;
  }
  input[type=submit] {
    right: 2px;
    top: 1px;
    position: absolute;
  }

}

.user-link.author {
  font-weight: bold;
}

.user-picture {
  display: block;
  margin: 0 12px 0 0;
  background: #ddd;

  img {
    display: block;
  }

  &.small {
    width: 32px;
    height: 32px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  &.sidebar {
    width: 180px;
    margin: 0;
    height: auto;
  }
}

.user-friends {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    overflow: auto;
    padding: 0;
    margin: 0;
  }

  .user-picture {
    float: left;
    margin-bottom: 12px;
  }
}


.users.friend-requests {
  width: 420px;

  .user {
    border: solid #ccc;
    border-width: 1px;
    padding: 10px 0 0;
    margin: 10px 0;
    overflow: auto;

    .user-picture {
      float: left;
      margin: 0 10px 10px;
    }

    .controls {
      clear: both;
      background: #f5f5f5;
      border-top: 1px solid #e5e5e5;
      margin-top: 10px;
      padding: 3px 10px;
      text-align: right;
      .uiButton {
        min-width: 50px;
      }
    }
  }

}
